/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* my css */

body {
  background-color: #fdfffc;
  font-family: "Merriweather", serif;
  color: #1780a1;
}

h1 {
  font-family: "Major Mono Display", monospace;
}

/* grid layout */

.container {
  display: grid;
  position: absolute;
  grid-template-columns: 10px 1fr 1fr 1fr 10px;
  grid-template-rows: min-content auto min-content;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". main-header main-header main-header ."
    ". intro intro intro ."
    ". about about about ."
    ". projects projects projects ."
    ". writing writing writing ."
    ". contact contact contact ."
    ". footer footer footer .";
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "logo logo main-nav";
  grid-area: main-header;
}

.logo {
  justify-self: start;
  align-self: center;
  grid-area: logo;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text-logo text-logo"
    "tag-line tag-line";
}

.main-nav {
  justify-self: end;
  align-self: start;
  grid-area: main-nav;
}

.intro {
  justify-self: center;
  grid-area: intro;
}

.about {
  justify-self: center;
  grid-area: about;
}

.projects {
  justify-self: center;
  grid-area: projects;
}

.writing {
  justify-self: center;
  grid-area: writing;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "credits . .";
  grid-area: footer;
}

.credits {
  justify-self: start;
  grid-area: credits;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "contact-form"
    "socials";
  grid-area: contact;
}

.contact-form {
  justify-self: center;
  grid-area: contact-form;
}

.socials {
  justify-self: center;
  grid-area: socials;
}

/* can only get h2 centered like this */

.about h2 {
  display: flex;
  justify-content: center;
}

.projects h2 {
  display: flex;
  justify-content: center;
}

.writing h2 {
  display: flex;
  justify-content: center;
}

/* end h2 section */

.text-logo {
  justify-self: start;
  grid-area: text-logo;
}

.tag-line {
  justify-self: center;
  grid-area: tag-line;
  font-size: 0.75rem;
  padding-top: 0.2rem;
}

/* end of grid layout */

.menu-icon {
  width: 50px;
  padding-top: 0.5rem;
}

#profile-img.rounded-image {
  border-radius: 50%;
  height: 30vh;
  opacity: 0.8;
  margin-top: 1vh;
}

/* for menu overlay */

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fdfffc;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #1780a1;
}

/* Attempting to resize icon */
.closebtn {
  max-width: 65px;
  padding-top: 0.5rem;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0.1rem;
  right: 3.5px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 1px;
    right: 53px;
  }
}

/* For carousel */
.carousel {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
  color: #fdfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
  color: #fdfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
  color: #fdfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
  color: #fdfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
  color: #fdfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

/* From https://css.glass */

/* #nav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  visibility: visible;
  z-index: 100;
  background: rgba(23, 128, 161, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(23, 128, 161, 0.23);
} */
