body {
  background-color: #f0f7f4;
}
a {
  text-decoration: none;
}
h1 {
  color: #246a73;
  font-size: 10vw;
}

.nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: flex-end;
  column-gap: 2vw;
  font-size: 2vw;
}

.nav a {
  display: block;
  color: #246a73;
}

.profile-img {
  opacity: 0.8;
  border-radius: 300px;
  width: 20vw;
}
.flex-container {
  display: flex;
  width: 90vmax;
  justify-content: center;
  column-gap: 5vw;
}
